<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp3.Properties.Settings.kayit_ekleConnectionString"
            connectionString="Data Source=DESKTOP-IOMB0KJ\SQLEXPRESS;Initial Catalog=&quot;kayit ekle&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp3.Properties.Settings.kayit_ekleConnectionString1"
            connectionString="Data Source=Yuki\SQLEXPRESS;Initial Catalog=&quot;kayit ekle&quot;;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>